body {
    font-family: 'Hind', sans-serif;
    margin: 5px 5px 5px 5px;
    background-color: #d2ffbf;
    background-image: url("../images/tile.png");
    background-repeat: repeat;
    color: black;
}

.header-image-bar {
    width: 98%;
    padding: 5px 5px 5px 5px;
    margin:  5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.40);
}

.header-image {
    width: 98.5%;
    position: relative; 
    padding: 10px 10px 10px 10px;
}

.container {
    background-color: rgba(0, 0, 0, 0.70);
    margin: 0px;
    padding: 5px;
}

.button{
    background-color: #0d8200;
    border-color: #b6ff00;
    border-radius: 2px;
    border-width: 1px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    position: absolute; 
    font-size: 24px;
}
.button:hover {
    background-color: #12aa01;
}

.padded-multiline { 
  background: url("../images/header-image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  line-height: 1.4; 
  padding: 120px 50px 50px 50px;
  margin: 20px 20px 20px 20px;
}
.padded-multiline span { 
  
  background-color: rgba(0, 0, 0, 0.60);
  
  color: #fff; 
  display: inline;
  padding: 0.5rem;
  margin-top: -30px;
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}


p, h2 {
    margin: 35px;
    margin-right: 35px;
}
p {
    width: 100%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.30);
}
